.main-content-farms {
  color: #fff;
  font-family: "TitilliumWeb-Regular";
  font-size: 1.6vw;
}
.btn-farms {
  line-height: 34px;
  font-family: "TitilliumWeb-Regular";
  color: #fff;
  background-image: linear-gradient(to right, #7d4fb8, #4e198f);
  padding: 0px 16px;
  border: none;
  text-decoration: none;
  border-radius: 34px;
  cursor: pointer;
}
.img-content-farm {
  display: flex;
  /* justify-content: center; */
  align-self: center;
}
.img-farms {
  margin-right: 0px;
  width: 26px;
  height: auto;
  /* position: absolute; */
}
.text-value {
  margin-top: 1px;
  margin-left: -14px;
}
.img-content-farm {
  display: flex;
  /* justify-content: center; */
  align-self: center;
}
.img1-farms {
  position: relative;
  top: 7px;
  left: 12px;
  width: 21px;
  height: auto;
  z-index: 1;
}
.images-farms {
  display: flex;
  align-items: center;
}
.data-content {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}
.btn-farms-end {
  display: flex;
  justify-content: flex-end;
}
.data-content-farms {
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .btn-farms {
    padding: 0.5vw 1vw;
    font-size: 0.9vw;
    line-height: normal;
    border-radius: 2vw;
  }
  .btn-farms-end {
    justify-content: space-evenly;
  }
  .img-farms {
    width: 1.8vw;
  }
  .img1-farms {
    width: 1.8vw;
    top: 0.6vw;
    left: -0.6vw;
  }
}
