.centered {
  /* height: 80%;
  width: 30%; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.modal {
  background-color: rgb(39, 38, 44);
  color: white;
  z-index: 10;
  border-radius: 16px;
  border: 1px solid #7851a9;
  /* backdrop-filter: blur(5px); */
}
/* .image2 {
  padding-right: 12px;
  padding-left: 12px;
} */
.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-start;
  margin-top: -7px;
  margin-right: -7px;
}
.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: black;
  opacity: 0.9;
  z-index: -1;
  left: 2px;
  bottom: 2px;
}
::-webkit-scrollbar {
  display: none;
}
/* body {
  overfl;
} */

.modal-open {
  animation-name: ModalOpen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  overflow: hidden;
}
@keyframes ModalOpen {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.overlay-open {
  animation-name: OverlayOpen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes OverlayOpen {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 0.4;
    z-index: 1000;
  }
}

.overlay-close {
  animation-name: OverlayClose;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes OverlayClose {
  0% {
    opacity: 0.5;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.modal-close {
  animation-name: ModalClose;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes ModalClose {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media (min-width: 1200px) {
  .modal {
    padding: 4vw 4vw;
  }
}
